<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="div-login">
        <h3 class="mb-3 text-center">Login</h3>
        <form class="mb-5" [formGroup]="formLogin" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label for="userName">Usuario</label>
                <input type="email" class="form-control" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-block btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
